@model IEnumerable<CarServiceSite.Models.Inspector>

@{ 
    var subdivisions = (List<SelectListItem>)ViewData["Subdivisions"];
}

<form asp-action="Inspectors" asp-controller="Home" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="FullName" class="col-md-2 control-label">ФИО инспектора:</label>
        <div class="col-md-4">
            <input type="text" name="FullName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Subdivision" class="col-md-2 control-label">Подразделение:</label>
        <div class="col-md-4">
            <select name="Subdivision" asp-items="subdivisions" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <p>Доступные подразделение:</p>
        <ul>
            @foreach (var item in subdivisions)
            {
                <li>@item.Text</li>
            }
        </ul>
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Subdivision)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inspector in Model)
        {
            <tr>
                <td>@Html.DisplayFor(c => inspector.FullName)</td>
                <td>@Html.DisplayFor(c => inspector.Subdivision)</td>
            </tr>
        }
    </tbody>
</table>

<img src="~/images/IMG_0346.jpg" class="img-thumbnail" alt="Happy man with red phone" />