@model IEnumerable<CarServiceSite.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StateNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TechnicalPassport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mark)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EngineVolume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BodyNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EngineNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicalPassport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
